@using Genbrugsmarked;
@using Core;
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting;
@using MongoDB;
@using MongoDB.Driver;
@using MongoDB.Bson;
@using MongoDB.Driver.Core.Configuration;
@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<button class="btn btn-primary" @onclick="insertdata">Click me</button>

@code {


    private void insertdata()
    {


        
        
    }
    // hey hey hey
}
