@page "/minprofil"
@using Genbrugsmarked.Util;
@using Core;
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject NavigationManager navigationManager
@inject HttpClient Http
@using System.Collections.Generic

<h3>My Profile</h3>

@if (user != null)
{
    <button @onclick="Logout">Logout</button>
}

else
{
    <p>Please log in.</p>
    <button @onclick="NavigateToLogin">Login</button>
}

@code {
    private string serverUrl = "https://localhost:7060";
    private User? user;

    protected override async Task OnInitializedAsync()
    {
        user = await localStore.GetItemAsync<User>("currentUser");

    }

    private async Task Logout()
    {
        await localStore.RemoveItemAsync("currentUser");
        navigationManager.NavigateTo("/login");
    }

    private void NavigateToLogin()
    {
        navigationManager.NavigateTo("/login");
    }
}